<h2>New Celebrity</h2>

<form action="/celebrities/add" method="POST" class="add-celebrity-form">
  <label>Name:</label>
  <input type="text" name="name">
  <label>Occupation:</label>
  <input type="text" name="occupation">
  <label>Main Phrase:</label>
  <input type="text" name="catchPhrase">
  <button type="submit" class="add-celebrity-button">Send</button>
</form>
